[submodule "dependencies/yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp/
[submodule "third_party/mongo-c-driver"]
	path = third_party/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
[submodule "third_party/mongo-cxx-driver"]
	path = third_party/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver.git
[submodule "third_party/etcd-cpp-apiv3"]
	path = third_party/etcd-cpp-apiv3
	url = https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3.git
[submodule "third_party/zookeeper"]
	path = third_party/zookeeper
	url = https://github.com/apache/zookeeper.git
